.chatInput {
  border-radius: 20px;
  /* border: 2px solid red; */
  position: fixed;
  bottom: 30px;
  width: calc(100% - 260px);
}
.chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chatInput > form > input {
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.chatInput > form > button {
  display: none;
}
