.sidebar {
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
  color: white;
  min-height: calc(100vh - 60px);
  flex: 0.3;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding-bottom: 10px;
  padding: 13px;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  background: white;
  font-size: 18px;
  border-radius: 999px;
  box-sizing: content-box;
}
